.algrith-scroll-to-top-controller {
  background-color: #2ca374;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  display: flex;
  height: 52px;
  bottom: 2rem;
  right: 3rem;
  width: 52px;
  z-index: 10;

  svg {
    color: white;
    height: 40px;
  }
}